== turbo_frame_tag task do
  article class="task" id="#{dom_id task}"
    p class="task__title" = task.title
    h4 class="task__story-points" = task.story_points
    p class="task__user-email" = task.assigned_user&.email || 'unknown'
    == link_to '✏️', edit_project_task_path(task.project, task), 'data-turbo-frame': '_self', class: 'plain-link'
