a:not(.plain-link), button, input[type=submit] {
  // Measurements
  padding: 1em 2em;

  // Layout
  display: inline-block;

  // Colours
  background: white;
  color: black;

  // Effects
  text-decoration: none;
  border-radius: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &:hover {
    text-decoration: underline;
  }
}
