form {
  // Measurements
  margin-bottom: .5em;
  padding: 1em;

  // Effects
  border-radius: .5em;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

label {
  margin-top: .5em;
}

input[type=submit] {
  // Measurements
  margin-top: 1em;

  // Colors
  background: #24a0ed;
  color: white;

  // Effects
  cursor: pointer;

  // Cancel out default styling
  font: inherit;
  border: none;
}
