.task {
    // Measurements
    margin-bottom: .5em;
    padding: 1em;

    // Layout
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 1em;

    // Effects
    border-radius: .5em;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    h4, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    &__story-points {
        text-align: right;
    }

    &__user-email {
        font-style: italic;
        font-size: .9em;
    }
}
