.task {
    // Measurements
    margin-bottom: .5em;
    padding: 1em;

    // Layout
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 1em;

    // Colors
    background-color: lightblue;

    h2, p {
        margin: 0;
    }

    &__story-points {
        font-weight: bold;
    }
}
