@font-face {
  font-family: 'Sono';
  src: url('assets/Sono-Regular.ttf')
}

@font-face {
  font-family: 'Inter';
  src: url('assets/Inter-Regular.ttf');
}

* {
  font-family: 'Inter', sans-serif
}

h2, h4, h5 {
  font-family: 'Sono', sans-serif;
  font-weight: normal;
}
